@using USCtest.WebClient.ViewModels;
@using USCtest.WebClient.ViewModels.FlatVM;

@model List<FlatViewModel>;

<div class="users-container">
    <form asp-area="" asp-controller="Flats" asp-action="List" method="get">
        <input name="name" class="form-control" placeholder="ФИО пользователя" />
        <button type="submit">
            Поиск
        </button>
    </form>

    @foreach (var falt in Model)
    {
        <div class="list-container">
            <div class="user-info-container">
                <p>@falt.Address</p>
                <p>@falt.Residents</p>
                <p>@falt.IsColdWaterDevice</p>
                <p>@falt.IsHotWaterDevice</p>
                <p>@falt.IsElectricPowerDevice</p>
            </div>
            <a asp-area="" asp-controller="Flat" asp-action="Edit" asp-route-id="@falt.Id" method="get">
                <button type="submit">
                    Редактировать
                </button>
            </a>
            <form asp-area="" asp-controller="Flat" asp-action="Remove" asp-route-id="@falt.Id" method="post">
                <button type="submit">
                    Удалить
                </button>
            </form>
        </div>
    }
</div>
