@using USCtest.WebClient.ViewModels;
@using USCtest.WebClient.ViewModels.UserVM;

@model UserViewModel;

<div class="users-container">
    <div class="userprofile-container">
        <div class="userprofile-info-container">
            <h4>ФИО: @Model.FullName</h4>
            <h4>Паспорт: @Model.Passport</h4>
        </div>
        <h3>Квартиры</h3>
        <div class="useruserprofile-flats">
            @foreach (var registration in Model.Registrations.Where(r => r.RemoveDate == null || r.RemoveDate == DateTime.MinValue))
            {
                <div class="useruserprofile-flat-info-container">
                    <div class="flat-info-contatiner">
                        <p>@registration.Flat.Address</p>
                        <p>Прибор учета ХВС: @registration.Flat.IsColdWaterDevice</p>
                        <p>Прибор учета ГВС: @registration.Flat.IsHotWaterDevice</p>
                        <p>Прибор учета ЭЭ: @registration.Flat.IsElectricPowerDevice</p>
                        <p>Задолженность: <b>@registration.Flat.Debt</b> руб.</p>
                    </div>

                    <a asp-area="" asp-controller="Tax" asp-action="AddIndications" asp-route-flatId="@registration.Flat.Id" asp-route-userId="@Model.Id" method="get">
                        <button type="submit">
                            Передать показания
                        </button>
                    </a>
                    <a asp-area="" asp-controller="Flat" asp-action="Edit" asp-route-flatId="@registration.Flat.Id" asp-route-userId="@Model.Id" method="get">
                        <button type="submit">
                            Изменить данные
                        </button>
                    </a>
                    <form asp-area="" asp-controller="User" asp-action="Deregistration" method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <input name="UserId" value="@registration.UserId" type="hidden" />
                        <input name="FlatId" value="@registration.FlatId" type="hidden" />
                        <input name="RegistrationDate" value="@registration.RegistrationDate" type="hidden" />
                        <input name="RemoveDate" value="@registration.RemoveDate" type="hidden" />
                        <button type="submit">
                            Снятие с регистрации
                        </button>
                    </form>
                </div>

                <div class="flat-unpayed-taxes">
                    <h2>Задолженности</h2>
                    @if (registration.Flat.Taxes.Where(t => t.IsPayed == false) != null)
                    {
                        @foreach (var tax in registration.Flat.Taxes.Where(t => t.IsPayed == false))
                        {
                            <div class="tax-info-contatiner">
                                <p>@tax.Date</p>
                                <p>ХВС потребление: @Math.Round(@tax.ColdWaterVolume, 2) м^3.</p>
                                <p>ХВС стоимость: @Math.Round(@tax.ColdWaterCost, 2) руб.</p>
                                <p>ГВС потребление: @Math.Round(@tax.HotWaterHeatVolume, 2) м^3</p>
                                <p>ГВС стоимость: @Math.Round(@tax.HotWaterHeatCost, 2) руб.</p>
                                <p>ЭЭ потребление: @Math.Round(@tax.ElectricPowerVolume, 2) кВт.ч</p>
                                <p>ЭЭ стоимость: @Math.Round(@tax.ElectricPowerCost, 2) руб.</p>
                                <p>ЭЭ (дневной тариф) потребление: @Math.Round(@tax.ElectricityDayVolume, 2) кВт.ч.</p>
                                <p>ЭЭ (дневной тариф) стоимость: @Math.Round(@tax.ElectricityDayCost, 2) руб.</p>
                                <p>ЭЭ (ночной тариф) потребление: @Math.Round(@tax.ElectricityNightVolume, 2) кВт.ч.</p>
                                <p>ЭЭ (ночной тариф) стоимость: @Math.Round(@tax.ElectricityNightCost, 2) руб.</p>

                                <p>Задолженность: <b>@Math.Round(tax.SummaryCost, 2)</b> руб.</p>

                                <form asp-area="" asp-controller="Tax" asp-action="Pay" asp-route-taxId="@tax.Id" asp-route-userId="@Model.Id" method="post">
                                    <button type="submit">
                                        Оплатить
                                    </button>
                                </form>
                            </div>
                        }
                    }
                    else
                    {
                        <h1>По данной квартире задолженностей нет</h1>
                    }

                </div>
            }
        </div>
    </div>
</div>
