@using USCtest.WebClient.ViewModels;
@using USCtest.WebClient.ViewModels.UserVM;

@model List<UserViewModel>;

<div class="list-container">
    <form asp-area="" asp-controller="User" asp-action="List" method="get">
        <input name="name" class="form-control" placeholder="ФИО пользователя" />
        <button type="submit">
            Поиск
        </button>
    </form>

    <div class="user-header-container">
        <p>ФИО</p>
        <p>Паспорт</p>
        <p>Квартиры</p>
    </div>

    @foreach (var user in Model)
    {
        <div class="user-container">
            <div class="user-info-container">
                <p>@user.FullName</p>
                <p>@user.Passport</p>
                <div class="user-flats">
                @foreach (var flat in user.Registrations.Select(r => r.Flat))
                {
                    <p>@flat.Address</p>
                }
                </div>
            </div>
            <a asp-area="" asp-controller="User" asp-action="UserProfile" asp-route-id="@user.Id" method="get">
                <button type="submit">
                    Подробнее
                </button>
            </a>
            <a asp-area="" asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" method="get">
                <button type="submit">
                    Редактировать
                </button>
            </a>
            <form asp-area="" asp-controller="User" asp-action="Remove" asp-route-id="@user.Id" method="post">
                <button type="submit">
                    Удалить
                </button>
            </form>
        </div>
    }
</div>
