@using USCtest.WebClient.ViewModels;
@using USCtest.WebClient.ViewModels.UserVM;

@model UserViewModel;

<div class="users-container">
    <div class="userprofile-container">
        <div class="userprofile-info-container">
            <h4>ФИО: @Model.FullName</h4>
            <h4>Паспорт: @Model.Passport</h4>
        </div>
        <h3>Квартиры</h3>
        <div class="useruserprofile-flats">
            @foreach (var flat in Model.Registrations.Select(r => r.Flat))
            {
                <div class="useruserprofile-flat-info-container">
                    <div class="flat-info-contatiner">
                        <p>@flat.Address</p>
                        <p>Прибор учета ХВС: @flat.IsColdWatherDevice</p>
                        <p>Прибор учета ГВС: @flat.IsHotWatherDevice</p>
                        <p>Прибор учета ЭЭ: @flat.IsElectricPowerDevice</p>
                        <p>Задолженность: @flat.Debt</p>
                    </div>

                    <a asp-area="" asp-controller="Flat" asp-action="AddIndications" asp-route-id="@flat.Id" method="get">
                        <button type="submit">
                            Передать показания
                        </button>
                    </a>
                    <form asp-area="" asp-controller="Registration" asp-action="Remove" asp-route-id="@flat.Id" method="post">
                        <button type="submit">
                            Удалить
                        </button>
                    </form>
                </div>
            }
        </div>
    </div>
</div>
